
body {
    background-image: url('coffeecup.jpg');
    background-size: cover;
  
}


.navbar {
    background-color: rgba(0, 0, 0, 0.178);
    overflow: hidden;
    height: 65px;
   
}

.navbar ul {
    list-style: none;
    padding: 0;
   margin-right: 70px;
}

.navbar li {
    float: right;
    margin-right: 40px;
 
}

.navbar a {
   
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 2px;
 
   
}

.navbar a:hover {
    color: rgb(255, 208, 0);
    text-decoration: underline;
}


.content {
    padding: 40px 20px; 
    color: #f8f6f6;
  

}
.content.heading{
    max-width: 600px;
}
.content.paragraph{
    font-weight: 100;
    max-width: 400px;
    margin-bottom: 200px;
  
}


.coffee-text {
    float: left;
    width: 50%;
    padding: 20px;
    margin-top: 70px;
    margin-left: 30px;
  
}


.button {
  
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    left: -10px;
    
}

.button:hover {
    background-color:  rgba(255, 208, 0, 0.543);
}







